

<header>
    <div id="aboutThisSite">
        <div class="aboutThisSiteTitle">
            <h1>MovieForYou</h1>
            <div>
                <button id="cancelBtn"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <div>
            <div>
                <p>movieForYou는 영화 추천 사이트로, 사용자 맞춤 영화를 추천해주는 사이트입니다.
                    영화 추천 알고리즘은 특정 장르의 영화 표본을 사용자에게 제시해주고 , 응답 결과를 통해
                    영화DB에서 영화를 추천해줍니다.
                </p>
            </div>
            <div>
                <div>
                    <img src="../img/free-icon-recommended-star-2302001.png" alt="">
                </div>
                <div>
                    <small> * 본 사이트는 토이프로젝트용으로 개발하였으며, 상업적 용도가 아닙니다. </small>
                </div>
            </div>
        </div>
    </div>
    <div class="contentWrapper">
        <div id="topNavi">
            <div class="topMenu">
                <img id="mainIcon" src="../img/free-icon-recommended-star-2302001.png" alt="">
                <!-- <div class="Copyright">
                    아이콘 제작자 : <a href="" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a><p>본 웹사이트는 상업목적용 사이트가 아닙니다. </p> 
                </div> -->
                <div>
                    <h1 id="mainTitle">MovieForYou</h1>
                </div>
            </div>
            <div class="topMenu">
                <ul class="topSubMenu">

                    <li class="subMenuItem">
                        <label for="search">Quick Recommendation </label>
                        <input id="search" type="text" placeholder="ex) 액션,호러..">
                    </li>
                    <li class="subMenuItem"><a href="#" id="aboutSite">MovieForYou?</a></li>
                    <li id="boardBtn" class="subMenuItem"><a href="/boards">게시판</a></li>
                    <li class="subMenuItem"><a href="/members/login">로그인</a></li>
                    <li class="subMenuItem"><a href="/members">회원가입</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</header>
